<div id="game_container">

	<div id="enemies"></div>
	
	<div id="spell_text"></div>

	<button id="cast_spell">Cast spell</button>
	<input type="text" id="spell_input" />
	<span id="spell_time_left"></span>

	<div class="spell_text"></div>

</div>