<div id="battle-scene">
	<div id="enemies"></div>

	<div id="spell-text"></div>

	<button id="cast-spell">Cast spell</button>
	<input type="text" id="spell-input" />
	<div id="spell-time-left">
		<span class="time-filler"></span>
	</div>
	<div id="results"></div>

	<div class="spell-text"></div>
</div>

<script>
	$(document).ready(function () {

		$('#cast-spell').click(function () {
			var chosen_spell = spells[Math.floor(Math.random() * spells.length)];
			console.log('Attempting to cast ' + chosen_spell.name);

			engine.cast_spell(chosen_spell);
		});

	});
</script>