* {
	margin: 0;
	padding: 0;
}

#game-container {
	position: relative;
	background: blue;

	width: 600px;
	height: 400px;

	margin: 0 auto;
	margin-top: 20px;

	#spell-text {
		position: absolute;
		bottom: 70px;
		left: 30px;

		color: white;
	}

	#cast-spell {
		position: absolute;
		bottom: 40px;
		left: 300px;

		font-size: 20px;
	}

	#spell-input {
		position: absolute;
		bottom: 40px;
		left: 30px;

		font-size: 20px;
	}

	#spell-time-left {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		
		color: white;
		border-bottom: 1px solid white;
		height: 20px;
		overflow: hidden;

		.time-filler {
			background: green;
			display: inline-block;
		}

	}

	#results {
		position: absolute;
		top: 30px;
		left: 0px;
		color: white;
	}
}